@media only screen and (max-width: 700px) {

    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index:100;
        display:inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        overflow: hidden;
        max-height: 100px;
        transition: max-height 0.5s;
    } 
    nav .nav-links{
        margin: 10px 0;
        display: block;
    } 
    .nav-links li{
        margin:7px 30px;
        display:inline-block;
    }
    nav .register-btn{
        margin: 10px 16px 30px;
        display: inline-block;
    }
    .navbar-white .fa-bars{
        display:block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #000;
        font-size: 28px;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
         padding-top: 200px;
         font-size: 7vw;
    }
    .search-box{
        width: 90%;
        margin: 30px auto ;
        padding: 20px 10px 30px;
        border-radius: 5px;
        width: 60%;
        position: relative;
    }
    .search-box form{
        display: block;
    }
    .search-box form input{
        border-bottom:1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-box form button{
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translate(-50%,50%);
    }
    .exclusives{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 5 columns */
        grid-gap: 10px;  
    }
    .trending{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 5 columns */
        grid-gap: 10px; 
    }
    .stories{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 5 columns */
        grid-gap: 30px;
        margin-bottom: 30px; 
    }
    .subtitles{
        font-size: 6vw;
        color:#333;
        font-weight: 500;
        margin: 50px 0 40px;
       }
       .cta{
        padding: 15% 5%;
       }
       .cta h3{
        font-size: 7vw;
        line-height: 8vw;
       }
       .cta a{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 12px;
       }
       .stories div p{
        font-size: 22px;
       }
       .about-msg{
        font-size: 14px;
       }
       .list-container{
        margin-top: 150px;
       }
       .left-col,.right-col,.house-img ,.house-info{
          flex-basis: 100%;
       }
       .left-col h1{
        font-size: 22px;
       }
       .house-info h3{
        font-size: 18px;
       }
       .house-info i{
        font-size: 16px;
       }
       .pagination
       {
        margin: 25px 11px;
        height: 25px;
        line-height: 30px;
        font-size: 12px;
       }
       .pagination span
       {
        margin: 45px 2px;
        width: 30px;
        height: 35px;
        text-align: center;
       }
}